<!DOCTYPE html>
<html>

<head>

    <title>e-Fidelidade</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Apple configuration for Web Application -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="e-Fidelidade">
    <link rel="apple-touch-icon" href="/img/Logo-e-Fidelidade.png">
    <link rel="apple-touch-startup-image" href="/img/logo.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="red">
    
    <meta name="theme-color" content="#9c27b0">
	
	<link rel="shortcut icon" href="/img/Logo-e-Fidelidade.png">
    
	<link rel="stylesheet" href="assets/demo.css">
	<link rel="stylesheet" href="assets/form-basic.css">
	<link rel="stylesheet" href="css/main-css.css">
	<!--<link rel="stylesheet" href="js/QRcode/style.css"> -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	
	<link rel="stylesheet" href="/css/FontAwesome/css/font-awesome.min.css">
	
    <script src="/js/AngularJs/angular.min.js"></script>
	<script src="/js/Jquery/jquery-3.2.1.min.js"></script>
	<script src="/js/Bootstrap/popper.js"></script>
	<script src="/js/Bootstrap/bootstrap.min.js"></script>
	
	<script src="/js/AngularJs/angularApp.js"></script>
	<script src="/js/Controller/biController.js"></script>
	
	<base href="/bi.html"/>
	
	<script src="/js/menu.js"></script>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    </script>

</head>

<body ng-app="myApp" ng-controller="biController">

    <div id="loading" ng-show="isLoading">
		<img id="loading-image" src="/img/Facebook.gif" alt="Loading..." />
	</div>

	<header>
	    <button class="sidebarBtn">
            <span></span>
        </button>
		<h1 style="text-align:center;width: 100%;">Relatórios</h1>
    </header>
    
    <div class="sidebar">
        <ul class="list_menu">
            <li ng-click="goToCarimbar()">
                <img src="/img/ticket.png" title="Carimbar Cartão" width="25" height="25">
                <a href="#">Carimbar Cartão</a>
            </li>
            <li>
                <i class="fa fa-line-chart fa-lg" aria-hidden="true" style="color:#9c27b0; width:25px; height:25px;    margin-right: 5px; margin-left: 20px; margin-top: 5px; float: left;"></i>
                <a href="#">Relatórios</a>
            </li>
            <li ng-click="sair()">
                <img src="/img/sing-out.png" title="Sign Out" width="25" height="25">
                <a>Sair</a>
            </li>
        </ul>
    </div>
    
    <div class="main-content">
        
        <h5 style="width:100%; text-align:center; display:inline-block; margin-top:50px; margin-bottom: 0px"> Gráfico frequência clientes</h5>
        <div id="curve_chart"></div>
    </div>
    
    
</body>